
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
        <!-- <i class="fa fa-laugh-wink"></i> -->
      </div>
      <div class="sidebar-brand-text mx-3">
          <img src="assets/img/logo.png" alt="" class="brand-img">
      </div>
    </a>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" routerLink="/admin">
        <i class="fa fa-video-camera" aria-hidden="true"></i>

        <span>Videos</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" routerLink="/admin/upload-video">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>Upload Video</span></a>
          
      </li>


    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
