  <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h2 mt-4">
        <i class="fa fa-fw fa-play" aria-hidden="true"></i>
       Videos Posted</h1>
      <a routerLink='/admin/upload-video' class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fa fa-plus fa-sm text-white-50"></i> Post Video</a>
    </div>

    <div class="content-body">
      <div class="row">

        <div class="col-xl-3 col-md-6 mb-4">
          <a  class="popup-youtube"
          href="https://www.youtube.com/watch?v=OW-TasHedKA">
          <div class="card h-100">
            <div class="card-body">
            <div class="video-img">
              <div class="play">
                <i class="fa fa-fw fa-play" aria-hidden="true"></i>
  
              </div>
              <img src="https://imgcomfort.com/Userfiles/Upload/images/illustration-geiranger.jpg" alt="">
            </div>
            <div class="video-caption">
              <div class="video-title">
                <h5>
                  Lorem ipsum dolor sit amet.
                </h5>
              </div>
              <div class="video-date">
                12 March, 2020
              </div>
            </div>
           
            </div>
          </div>
        </a>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <a  class="popup-youtube"
          href="https://www.youtube.com/watch?v=OW-TasHedKA">
          <div class="card h-100">
            <div class="card-body">
            <div class="video-img">
              <div class="play">
                <i class="fa fa-fw fa-play" aria-hidden="true"></i>
  
              </div>
              <img src="https://imgcomfort.com/Userfiles/Upload/images/illustration-geiranger.jpg" alt="">
            </div>
            <div class="video-caption">
              <div class="video-title">
                <h5>
                  Lorem ipsum dolor sit amet.
                </h5>
              </div>
              <div class="video-date">
                12 March, 2020
              </div>
            </div>
           
            </div>
          </div>
        </a>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <a  class="popup-youtube"
          href="https://www.youtube.com/watch?v=OW-TasHedKA">
          <div class="card h-100">
            <div class="card-body">
            <div class="video-img">
              <div class="play">
                <i class="fa fa-fw fa-play" aria-hidden="true"></i>
  
              </div>
              <img src="https://imgcomfort.com/Userfiles/Upload/images/illustration-geiranger.jpg" alt="">
            </div>
            <div class="video-caption">
              <div class="video-title">
                <h5>
                  Lorem ipsum dolor sit amet.
                </h5>
              </div>
              <div class="video-date">
                12 March, 2020
              </div>
            </div>
           
            </div>
          </div>
        </a>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
          <a  class="popup-youtube"
          href="https://www.youtube.com/watch?v=OW-TasHedKA">
          <div class="card h-100">
            <div class="card-body">
            <div class="video-img">
              <div class="play">
                <i class="fa fa-fw fa-play" aria-hidden="true"></i>
  
              </div>
              <img src="https://imgcomfort.com/Userfiles/Upload/images/illustration-geiranger.jpg" alt="">
            </div>
            <div class="video-caption">
              <div class="video-title">
                <h5>
                  Lorem ipsum dolor sit amet.
                </h5>
              </div>
              <div class="video-date">
                12 March, 2020
              </div>
            </div>
           
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>
    <!-- Content Row -->
 

